{% extends 'base.html' %}
{% block title %}home{% endblock title %}


{% block body %}

<div class="m-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="container m-2">
                    <div class="card" style="width: 200px; height: auto;">
                        <div class="card-header">
                            Featured
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                            <a href={% url 'home' %}> All</a>
                            </li>
                        {% for cat in cats %}
                        <li class="list-group-item">
                        
                        <a href="{% url 'home' %}?cat={{cat.name}}">{{cat.name}}</a>
                        
                         </li>
                            
                        {% endfor %}
                            
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-9">
                <div class="row">
                    
                    
                    {% for img in imgs %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="thumbnail" src="{{ img.image.url }}"
                                class="card-img-top" style="width: 254px; height: 145px;" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                                    <a class="btn btn-primary" href="{% url 'view-photo' img.id %}">Click here</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>


            </div>
        </div>
    </div>
</div>

{% endblock body %}